/* ------------------------------------------------- */

.user_btn {
    top:10px;
    right:10px;
    width:56px;
    height:56px;
    background: #555;
    background-size:56px 56px;
    border-radius: 1000px;
    position: fixed;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    transition:all 0.2s;
    animation: user_btn_anim 0.3s forwards cubic-bezier(.18,1.32,.74,1.39);
    z-index: 100;
}

.user_btn:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition: all 0.2s;
}

@keyframes user_btn_anim {
    0% {
        top:38px;
        right:38px;
        width:0px;
        height:0px;
        background-size:0px 0px;
    }
    100% {
        top:10px;
        right:10px;
        width:56px;
        height:56px;
        background-size:56px 56px;
    }
}

/* ------------------------------------------------- */

.g-signin2 {
    position: absolute;
    top:calc(50% - 25px);
    left:calc(50% - 120px);
}

/* ------------------------------------------------- */

.google_loading {
    position: absolute;
    width:50px;
    height:50px;
    top:calc(50% - 27px);
    left:calc(50% - 27px);
}
.google_loading div {
    border-width: 5px;
}